<div id="create-wrapper">
    <div id="create-card">
            <div class="item">
                <label for="">Code:</label>
                <input type="text" name="" id="" [(ngModel)]="emp.email">
            </div>
            <div class="item item-active">
                <label for="">Active:</label>
                <input type="checkbox" name="" id="" [(ngModel)]="emp.active">
            </div>
            <div id="btn-container">
                <button class="btn btn-primary" (click)="save()">Submit</button>
                <button class="btn btn-primary" (click)="goBack()">Back</button>
            </div>
    </div>
</div>
