<app-menu></app-menu>
<div id="table-wrapper">
    <div id="sub-menu">
        <a id="add-user" [routerLink]="['/orderline/add/', ord.id]"><i class="fa-solid fa-cart-plus"></i></a>
    </div>
    <!-- Display Order -->
    <table class="table">
        <thead>
        </thead>
        <tbody id="order-item">
            <tr>
                <td><div>Order ID: </div><div class="div-data">{{ord.id}}</div></td>
                <td><div>Date: </div><div class="div-data">{{ord.date | date}}</div></td>
                <td><div>Description: </div><div class="div-data">{{ord.description}}</div></td>
                <td><div>Total: </div><div class="div-data">{{ord.total | currency}}</div></td>
                <td><div>Customer: </div><div class="div-data">{{ord.customer?.name}}</div></td>
                <td><div>Status: </div><div appStatusColor class="div-data" id="status">{{ord.status}}</div></td>
                <td>
                    <span class="btn-span"><button (click)="ok()" class="btn-circle stat-green">OK</button></span>
                    <span class="btn-span"><button (click)="backorder()" class="btn-circle stat-orange">B/O</button></span>
                    <span class="btn-span"><button (click)="closed()" class="btn-circle stat-red">CLOSE</button></span>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Display Orderlines -->
    <!-- for order to be created on current order -->
    <table id="line-items" class="table table-striped" *ngIf="ord">
        <thead>
            <tr>
                <th>Id<i class="fa-solid fa-sort"></i></th>
                <th>Item<i class="fa-solid fa-sort"></i></th>
                <th>Quantity<i class="fa-solid fa-sort" ></i></th>
                <th>Price<i class="fa-solid fa-sort" ></i></th>
                <th>Subtotal<i class="fa-solid fa-sort"></i></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of ord.orderlines; let i = index">
                <td>{{o.id}}</td>
                <td>{{o.item?.name}}</td>
                <td>{{o.quantity}}</td>
                <td>{{o.item?.price | currency}}</td>
                <td>{{o.quantity * o.item?.price! | currency}}</td>
                <td id="a-row">
                    <a [routerLink]="['/orderline/edit/', o.id]">Edit</a> |
                    <a class="btn-link" (click)="toggleHide(i)">Delete</a>
                    <a class="btn-link confirm hide" (click)="removeOl(o.id)" >Confirm</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>