<div id="table-wrapper">
    <div id="sub-menu">
        <a id="add-user" routerLink="/customers/add"><i class="fa-solid fa-user-plus"></i></a>
        <div id="search-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" [(ngModel)]="substr" placeholder="Search">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id<i class="fa-solid fa-sort" (click)="sortOrder('id')"></i></th>
                <th>Code<i class="fa-solid fa-sort" (click)="sortOrder('code')"></i></th>
                <th>Name<i class="fa-solid fa-sort" (click)="sortOrder('name')"></i></th>
                <th>Sales<i class="fa-solid fa-sort" (click)="sortOrder('sales')"></i></th>
                <th>Active<i class="fa-solid fa-sort" (click)="sortOrder('active')"></i></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of custs | searchCustomer:substr | sort:sortCol:sortAsc">
                <td>{{c.id}}</td>
                <td>{{c.code}}</td>
                <td>{{c.name}}</td>
                <td>{{c.sales | currency}}</td>
                <td>{{c.active | bool:locale}}</td>
                <td><a [routerLink]="['/customers/get/', c.id]">Details</a> | 
                    <a [routerLink]="['/customers/edit/', c.id]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>