#table-wrapper {
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

div.btn a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

div.btn a:hover {
    color: darkgreen;
}

a {
    text-decoration: none;
    color: rgb(45, 121, 192);
}