<app-menu></app-menu>
<div id="table-wrapper">
    <div id="sub-menu">
        <a id="add-user" routerLink="/orders/add"><i class="fa-solid fa-user-plus"></i></a>
        <div id="search-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" [(ngModel)]="substr" placeholder="Search">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id<i class="fa-solid fa-sort" (click)="sortOrder('id')"></i></th>
                <th>Description<i class="fa-solid fa-sort" (click)="sortOrder('description')"></i></th>
                <th>Date<i class="fa-solid fa-sort" (click)="sortOrder('date')"></i></th>
                <th>Customer<i class="fa-solid fa-sort" (click)="sortOrder('customer')"></i></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of ords | searchOrder:substr | sort:sortCol:sortAsc">
                <td>{{o.id}}</td>
                <td>{{o.description}}</td>
                <td>{{o.date}}</td>
                <td>{{o.customer?.name}}</td>
                <td><a [routerLink]="['/orders/get/', o.id]">Details</a> | 
                    <a [routerLink]="['/orders/edit/', o.id]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>