<div id="create-wrapper">
    <div id="create-card">
            <div class="item">
                <label for="">Code:</label>
                <input type="text" name="" id="" [(ngModel)]="cust.code" readonly>
            </div>
            <div class="item">
                <label for="">Name:</label>
                <input type="text" name="" id="" [(ngModel)]="cust.name" readonly>
            </div>
            <div class="item">
                <label for="">Sales:</label>
                <input type="text" name="" id="" [(ngModel)]="cust.sales" readonly>
            </div>
            <div class="item item-active">
                <label for="">Active:</label>
                <input type="checkbox" name="" id="" [(ngModel)]="cust.active" checked>
            </div>
            <div id="btn-container">
                <button class="btn btn-primary"><a [routerLink]="['/customers/edit/', cust.id]">Edit</a></button>
                <button class="btn btn-danger" (click)="removeCust()">Delete</button>
            </div>
    </div>
</div>
