<app-menu></app-menu>
<div id="create-wrapper">
    <div id="create-card">
            <div class="item">
                <label for="">Code:</label>
                <input type="text" name="" id="" [(ngModel)]="cust.code">
            </div>
            <div class="item">
                <label for="">Name:</label>
                <input type="text" name="" id="" [(ngModel)]="cust.name">
            </div>
            <div class="item">
                <label for="">Sales:</label>
                <input type="text" name="" id="" [(ngModel)]="cust.sales">
            </div>
            <div class="item item-active">
                <label for="">Active:</label>
                <input type="checkbox" name="" id="" [(ngModel)]="cust.active">
            </div>
        <button class="btn btn-primary" (click)="addCust()">Create</button>
    </div>
</div>
