<app-menu></app-menu>
<div id="create-wrapper">
    <div id="create-card">
            <div class="item">
                <label for="">Email:</label>
                <input type="text" name="" id="" [(ngModel)]="emp.email">
            </div>
            <div class="item">
                <label for="">Password:</label>
                <input type="text" name="" id="" [(ngModel)]="emp.password">
            </div>
            <div class="item item-active">
                <label for="">Active:</label>
                <input type="checkbox" name="" id="" [(ngModel)]="emp.active">
            </div>
        <button class="btn btn-primary" (click)="addEmp()">Create</button>
    </div>
</div>
